@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: salmon;
    color: rgb(107, 55, 49);
    padding: 20px;
    font-family: "Montenegrin Gothic One", serif;

}


p {
    color: black;
    padding: 3rem;
    font-size: 2rem;
    font-family: "Montenegrin Gothic One", serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}